*{
margin: 0;
box-sizing: border-box;
padding: 0;
}

body{
margin: 0;
}


h1{
  color: #323232;

  /* H1 BOLD */
  font-size: 61px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

span{
color: #FF7700;
}


h5{
color: var(--rectangle-6900, #323232);
font-size: 25px;
font-family: 'Poppins', sans-serif;
font-style: normal;
line-height: 150%;
}


h6{
color: var(--rectangle-6900, #323232);
font-size: 20px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

p{
color: var(--rectangle-6900, #323232);
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.container{
height: 100vh;
width: 100vw;
background-image: url(./assets/img/unsplash_1QsQRkxnU6I.png);
background-size: cover;
background-repeat: no-repeat; 
}

.content{
  height: 100vh;
  max-height: 1280px;
  width: 100vw;
  max-width: 832px;
  margin: 0 auto;
}


nav{
display: flex;
justify-content: space-between;
padding-top: 80px;
}

.nav__navbar ul{
  display: flex;
  gap: 24px;
}

.nav__navbar ul li{
list-style: none;
padding: 8px;
justify-content: center;
align-items: center;
}

.nav__navbar ul li span{
color: var(--ff-7700, #F70);
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
line-height: 150%;
}

.nav__navbar ul li a{
text-decoration: none;
color: var(--rectangle-6900, #323232);
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.nav__search{
  display: flex;
  }

.nav__search__bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1.5px solid var(--rectangle-6900, #323232);
}

.nav__search input{
  all: unset;

  padding: 8px;
  width: 100%;
  background-color:transparent;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.nav__search ::placeholder{
  color: #C8C8C8;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.nav__search img{
  cursor: pointer;
}







