* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #323232;

  /* H1 BOLD */
  font-size: 61px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

span {
  color: #ff7700;
}

h5 {
  color: var(--rectangle-6900, #323232);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 150%;
}

h6 {
  color: var(--rectangle-6900, #323232);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.bold{
  color: var(--rectangle-3600, #CC5F00);

  /* PARAGRAPH BOLD */
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;}

p {
  color: var(--rectangle-6900, #323232);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url(./assets/img/unsplash_1QsQRkxnU6I.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.content {
  height: 100%;
  max-height: 832px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.nav__navbar ul {
  display: flex;
  gap: 24px;
}

.nav__navbar ul li {
  list-style: none;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.nav__navbar ul li span {
  color: var(--ff-7700, #f70);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.nav__navbar ul li a {
  text-decoration: none;
  color: var(--rectangle-6900, #323232);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.nav__search {
  display: flex;
}

.nav__search__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1.5px solid var(--rectangle-6900, #323232);
}

.nav__search input {
  all: unset;

  padding: 8px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.nav__search ::placeholder {
  color: #c8c8c8;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.nav__search img {
  cursor: pointer;
}

.content__title {
  height: 100%;
  max-height: 710px;
  width: 100%;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  width: 388px;
  border-top: 1.5px solid var(--rectangle-6900, #323232);
  padding: 8px;
  margin: 8px 0 24px 0;
}

button {
  all: unset;
  display: flex;
  width: 200px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--ff-7700, #f70);
  color: var(--rectangle-4100, #fcf6e8);
  cursor: pointer;

  /* PARAGRAPH BOLD */
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.social {
  display: flex;
  position: absolute; 
  right: -189px;
  top: 50%;
  transform: rotate(90deg);
  height: 64px;
}

.instagram {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #ffc999;
  cursor: pointer;
}

.facebook {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #ffc999;
  cursor: pointer;

}

.twitter {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #ffc999;
  cursor: pointer;

}
