* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 24px 48px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./assets/joanna-kosinska-vouDD7K0FoA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 100vh;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 24px;
    text-transform: uppercase;
    color: white;
}

.hero__nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

.hero__nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

a.active{
    font-weight: 700;
}

.hero__nav-icons ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero__nav-icons li a{
    color: white;

}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.content__description{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    justify-content: flex-start;
    gap: 24px;
}

h1.title{
    letter-spacing: 2px;
    font-size: 48px;
}

p{
    color: white;
}

button{
    all: unset;
    border: 2px solid white;
    width: fit-content;
    border-radius: 4px;
    padding: 8px 16px;

    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;
}

.content-arrow{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-arrow span{
    font-size: 32px;
    color: white;
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.footer ul{
    display: flex;
    align-items: end;
    gap: 8px;
    list-style: none;
}

.footer ul li{
    border-bottom: 4px solid white;
    width: 24px;
    text-align: center;
}

.footer li.active{
    text-decoration: none;
    color: white;
}

.footer ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.footer li.desable{
    opacity: .3;
}

.footer__social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer__social-icons img{
    height: 24px;
    color: white;
}