* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
}

.one{
  background-image: url(./assets/img/unsplash_0qx_c3VkAA4.png);  background-repeat: no-repeat;
}

.content__one{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
}

header .logo h4{
  color: var(--00735-d, #00735D);
  font-family: "Source Serif 4", serif;  
  font-size: 31px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  height: 40px;
  padding: 8px 16px;
}

nav ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--25241-d, #25241D);
  font-size: 16px;
  line-height: 150%;
  gap: 8px;
}

nav ul li a:hover{
transition: 0.5s;
opacity: 0.5;
}

button{
  all: unset;
  display: flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--00735-d, #00735D);
  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;


  color: var(--fdfcf-9, #FDFCF9);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.26px;
  text-transform: uppercase;
}

button:hover{
  transition: 0.5s;
  opacity: 0.8;
}

.content__one__txt{
display: flex;
flex-direction: column;
margin: auto 0;
max-width: 472px;
gap: 24px;
}

h1{
  color: var(--25241-d, #25241D);
  font-family: Source Serif Pro;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.content__one__txt h5{
  color: var(--25241-d, #25241D);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.two{
background-image: url(./assets/img/Rectangle\ 1.png);  background-repeat: no-repeat;
}

.content__two{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
}

h5{
  color: var(--fdfcf-9, #FDFCF9);
  font-family: Source Serif Pro;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

p{
  color: var(--fdfcf-9, #FDFCF9);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.content__two__description1{
  background-color: palegoldenrod;
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
  
}

.description1__txt{
  display: flex;
  flex-direction: column;
  max-width: 286px;
  gap: 24px;
}



/* 
}

nav ul li a:hover {
  opacity: 0.8;
  transition: 0.6s;
}

button {
  all: unset;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--00735-d, #00735d);
  box-sizing: border-box;
  cursor: pointer;

  color: var(--fdfcf-9, #fdfcf9);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.26px;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.8;
  transition: 0.6s;
}

.background__cta {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  max-width: 472px;
  gap: 24px;
}

.background__cta h1 {
  color: var(--25241-d, #25241d);
  font-family: Source Serif Pro;
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
}

.background__cta h5 {
  color: var(--25241-d, #25241d);
  font-size: 25px;
  font-weight: 300;
  line-height: 120%;
}

.background__cta button {
  width: fit-content;
}

.description {
  background-image: url(./assets/img/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.description__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.description__one{
  display: flex;
  flex-direction: column;
}

.description__textone{
display: flex;
flex-direction: column;
} */ */
