* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin: 0 80px;
}

.header__header {
    display: flex;
    margin: 32px 0 56px 0;
}

.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.header__nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    min-width: 412px;
}

.header__nav .end {
    display: flex;
    justify-content: flex-end;
}

.header__nav ul li {
    display: flex;
}

.header__nav .end .link-icon a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__nav ul li a {
    text-decoration: none;
    padding: 8px 16px;

    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    text-transform: uppercase;
}

h4.logotipo {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    /* 125% */
    letter-spacing: -2.56px;
    text-transform: uppercase;

    flex-grow: 1;
}

.back-page {
    display: flex;

    color: var(--a-0-a-0-a-0, #A0A0A0);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
    text-transform: uppercase;
}

.produto {
    margin: 32px 0 24px 0;
    display: flex;
    gap: 16px;
}

.produto__descricao {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.produto__descricao-colecao {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 16px;
}

h6 {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
    text-transform: uppercase;
}

p {
    color: var(--a-0-a-0-a-0, #A0A0A0);

    /* Parágrafo */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.produto__descricao-titulo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

h3 {
    color: #000;
    font-family: Roboto Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -1.92px;
    text-transform: uppercase;
}



/* Estilize conforme necessário */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-select {
    padding: 8px 16px;
    font-size: 16px;
    border-bottom: 1px solid #A0A0A0;
    cursor: pointer;
    position: relative;

    color: var(--a-0-a-0-a-0, #A0A0A0);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-transform: uppercase;
}

.material-symbols-outlined {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 4px;
    min-width: 200px;
    z-index: 1;
}

.dropdown-options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-options a:hover {
    background-color: #f0f0f0;
}

.descricao {
    margin-top: 10px;
}